#gallerytxt{
    font-style: initial;
    font-size: 50px;
    color: white;
    float: right;
    margin-top: -25%;
    width: 35%;
    margin-right: 4%;
    font-style: oblique;

    text-shadow: 0 0 10px #ff5733, 0 0 20px #ff5733, 0 0 40px #ff5733, 0 0 80px #ff5733;
    animation:flicker 1s infinite alternate;
}

#gallerycontainer{
    display: flex;
    position: absolute;
}

.fortomana{
    max-width: 600px;
}

@media screen and (max-width: 600px){
    #gallerytxt{
        font-size: 20px;
        margin-top: -45%;
        width: 40%;
    }
    #gallerycontainer{
        margin: 10px;
    }
}